@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
* {
  font-family: "Chewy", cursive;
  color: #f2b33d;
}

body {
  display: flex;
  background-color: #f2e1c2;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 21px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text {
  order: 2;
  padding-top: 40px;
  width: 440px;
  font-weight: bold;
}

.board {
  order: 1;
  width: 440px;
  height: 440px;
  padding: 5px;
  background-color: rgba(98, 0, 255, 0.16);
  border-radius: 7px;
  outline: none;
  position: relative;
  margin-top: 60px;
}

.board .cell,
.tile {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

.details-box {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.details-box h1 {
  color: #f25c69;
  font-size: 4rem;
  padding: 0;
  margin: 0;
  width: 50%;
}

.resetButton {
  background-color: #3d2963;
  cursor: pointer;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 63%;
  width: 27%;
  color: gold;
  transition: color 0.3s ease, background-color 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.resetButton:hover {
  background-color: #d3386a;
  color: rgb(255, 255, 255);
  transform: scale(1.1);
  transition: all 0.09s ease-out;
}

.score-header {
  font-size: 1.2rem;
}

.score-box {
  background-color: #3d2963;
  color: rgba(255, 255, 255, 0.5);
  min-width: 50px;
  padding: 5px 15px;
  border-radius: 7px;
  margin-left: 10px;
}

.points {
  color: white;
}

.score {
  width: 25%;
}

.highest-scroe {
  width: 35%;
}

.cell,
.tile {
  width: 100px;
  height: 100px;
  margin: 5px;
  line-height: 90px;
  display: inline-block;
  font-size: 55px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border-radius: 7px;
  color: #ffffff;
  background-color: #448199;
}

.tile0 {
  background-color: #dcb;
}

.tile2 {
  background-color: #41c9b8;
}

.tile4 {
  background-color: #00b2a1;
}

.tile8 {
  background-color: #ed5471;
}

.tile16 {
  background-color: #e73c75;
}

.tile32 {
  background-color: #b81c64;
}

.tile64 {
  background-color: #9e005d;
}

.tile128 {
  background-color: #ffb33c;
}

.tile256 {
  background-color: #f68530;
  font-size: 45px;
}

.tile512 {
  background-color: #e85938;
  font-size: 45px;
}

.tile1024 {
  background-color: #57407c;
  font-size: 35px;
}

.tile2048 {
  position: absolute;
  background-size: contain;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  color: #fff;
  background-image: url(../assets/img/2048.gif);
  font-size: 35px;
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.merged {
  display: none;
}

.tile.merged.isMoving {
  display: inline;
}

.tile.new,
.overlay {
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-name: newTile;
          animation-name: newTile;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  transform: scale(0);
}

@-webkit-keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0;
  right: 0;
  font-size: 55px;
  font-weight: bolder;
  border-radius: 7px;
}

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid white;
}

.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding-top: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  background: rgba(87, 64, 124, 0.51);
}
.gameOver button {
  padding: 5px 10px;
  font-size: 2rem;
  color: gold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgba(65, 105, 225, 0.7);
}
.gameOver button:hover {
  transform: scale(1.1);
  background-color: rgb(65, 105, 225);
  transition: all 0.09s ease-in;
}

.overlay .message {
  color: #666;
}

.score-addition {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  font-size: 3rem;
  -webkit-animation: move-up 600ms ease-in 1;
          animation: move-up 600ms ease-in 1;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}
.logo.is-animetion {
  margin-top: 0.6em;
}

.logo.is-animetion span {
  display: inline-block;
  width: 48px;
  -webkit-animation: wave-text 1s ease-in-out infinite;
          animation: wave-text 1s ease-in-out infinite;
  font-size: 6rem;
}

.logo.is-animetion span:nth-of-type(1) {
  color: #41c9b8;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.logo.is-animetion span:nth-of-type(2) {
  color: #00b2a1;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.logo.is-animetion span:nth-of-type(3) {
  color: #ed5471;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.logo.is-animetion span:nth-of-type(4) {
  color: #ed5471;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.logo.is-animetion span:nth-of-type(5) {
  color: #00b2a1;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.logo.is-animetion span:nth-of-type(6) {
  color: #b81c64;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.logo.is-animetion span:nth-of-type(7) {
  color: #ffb33c;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.logo.is-animetion span:nth-of-type(8) {
  color: #f68530;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.logo.is-animetion span:nth-of-type(9) {
  color: #e85938;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@-webkit-keyframes wave-text {
  00% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes wave-text {
  00% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */